data/
images/
Docker/dgx/extracted_image/
Docker/dgx/dgx_gpu_flat.tar
Docker/dgx/dgx_gpu.sqsh
detr-resnet-50-finetuned-20-epochs-boat-dataset/
output/
visualize_anno.jpg
out.jpg

.catkin_tools/
build/
devel/
install/
logs/