data/
images/
data_boat/
images_boat/
images_KS/
images_KS_Buoy/
extracted_image/
dgx_gpu_flat.tar
dgx_gpu.sqsh
detr-resnet-50-finetuned-20-epochs-boat-dataset/
output/
visualize_anno.jpg
out.jpg

.catkin_tools/
build/
devel/
install/
logs/

.cache
detr-resnet-50-finetuned-600-epochs-Kaohsiung-Port-dataset/
results.txt
__pycache__/
output.png
output.mp4
source_videos/

detr-resnet-50-finetuned-600-epochs-KS-Buoy-dataset/
detr-resnet-50-finetuned-20-epochs-Boat-dataset-0314/